      <nav class="navbar navbar-vertical navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/dashboard/dashboard.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="home"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Dashboard</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/cameras/cameras-list.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="video"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Cameras</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/events/events.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="activity"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Event Board</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/agents/agents-list.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="cpu"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Agents Board</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/workflows/workflow-list.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span class="fa-solid fa-dog" aria-hidden="true"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Workflow</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/videos/video-library.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="film"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Video Library</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/chat/chat.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="search"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Video Analyzer</span></span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link label-1" href="./pages/people/person-gallery.html">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span data-feather="users"></span></span>
                    <span class="nav-link-text-wrapper"><span class="nav-link-text">Person Gallery</span></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar Footer - Collapse Toggle Button -->
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
            <span class="uil uil-left-arrow-to-left fs-8"></span>
            <span class="uil uil-arrow-from-right fs-8"></span>
            <span class="navbar-vertical-footer-text ms-2">Collapsed View</span>
          </button>
        </div>
      </nav>
